.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.message_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.new_message_button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}